
.row
  .col-xs-12
    %table.table
      %tr
        %th PC #
        %th Date Received
        %th Customer
        %th Adverse?
        %th Summary
        %th Status
        %th Actions
      - @complaints.each do |complaint|
        %tr
          %td= complaint.pc_number
          %td= complaint.received_date.strftime("%B %d, %Y")
          %td= complaint.customer.try(:email)
          %td= complaint.adverse_reaction ? "Yes" : ""
          %td= complaint.summary
          %td= complaint.status
          %td= link_to "view", edit_complaint_path(complaint)