= simple_form_for(@complaint, html: {class: 'form-horizontal', id: 'complaint_form', role: 'form' }) do |f|
  .row
    .col-xs-12
      - if @complaint.return.present?
        = link_to "RA#: #{@complaint.return.ra_number}", edit_return_path(@complaint.return.id)
      - else
        = link_to "Start a Return Report from this Complaint", new_return_path(complaint_id: @complaint.id)
  .row
    %hr
    .col-xs-2
      = f.input :pc_number, as: :string, label: "PC Number (ex: 2014-001-PC)"
    .col-xs-2
      = f.input :received_date, as: :string, input_html: { class: "date-picker",
                                                           value: default_received_date }
    .col-xs-3
      = f.association :user, as: :select, include_blank: false, label: "Agent", collection: User.all, input_html: { class: "" }
    .col-xs-2
      = f.input :status, collection: Complaint::STATUSES, include_blank: false, input_html: { class: "col-xs-8" }
    .col-xs-2
      = f.input :adverse_reaction, inline_label: "Yes", label: "Adverse Reaction?", as: :radio_buttons
      %p NOTE: An adverse reaction is any unintended physical response to a product - this includes, but is not limited to stomach ache, dizziness, itching, increased heart rate, diarrhea, headache, or nausea.

  .row
    %hr
    .col-xs-12
      .section-header
        %h2
          %span.toggle-sign -
          Customer Information
      .section-content
        = f.simple_fields_for :customer do |customer_form|
          .col-xs-6
            = customer_form.input :name, input_html: { class: "col-xs-8" }
            = customer_form.input :email, input_html: { class: "col-xs-8" }
            = customer_form.input :phone, input_html: { class: "col-xs-8" }
          .col-xs-6
            = customer_form.input :address, input_html: { class: "col-xs-8" }
            = customer_form.input :city, input_html: { class: "col-xs-8" }
            = customer_form.input :state, input_html: { class: "col-xs-4" }
            = customer_form.input :zip, as: :string, input_html: { class: "col-xs-4" }

  .row#product-details
    .col-xs-12
      .section-header
        %h2
          %span.toggle-sign -
          Product Details
      .section-content
        %table.table
          %tr
            %th Product
            %th UPC code/SKU
            %th Quantity reported (bottles/bags)
            %th Size type (oz or count)
            %th Lot
            %th Expiration
            %th Actions
          = f.simple_fields_for :faulty_products do |product_form|
            = render 'faulty_product_fields', product_form: product_form
        = link_to_add_fields "Add Another Faulty Product", f, :faulty_products

  .row
    .col-xs-12
      .section-header
        %h2
          %span.toggle-sign -
          Complaint Details
      .section-content
        = f.input :order_number, label: "Purchase Order Number", input_html: { class: "col-xs-2" }
        = f.input :is_refunded, label: "Agent will document product being refunded?", as: :radio_buttons
        = f.input :refund_amount, label: "... if yes, how much?", input_html: { class: "col-xs-1" }
        = f.input :is_returned, label: "Agent will document product being returned?", as: :radio_buttons
        = f.input :return_quantity, label: "... if yes, what's the total quantity?", input_html: { class: "col-xs-1" }
        = f.input :immediate_response, input_html: { class: "col-xs-10", :rows => 10}
        = f.input :summary, label: "Complaint Summary (short)", input_html: { class: "col-xs-10" }
        = f.input :correspondence_history, input_html: { class: "col-xs-10", :rows => 15 }

  .row
    %br
    %br
    .col-xs-12
      .form-actions
        = f.submit class: "btn btn-primary"

.row#adverse-event-form
  %hr
  .col-xs-10
    = render partial: 'adverse_events/form'


