= simple_form_for(@return, html: {class: 'form-horizontal', id: 'return_form', role: 'form' }) do |f|
  .row
    %hr
    .col-xs-3
      = f.input :originating_date, as: :string, input_html: { class: "date-picker col-xs-8",
                                                           value: default_return_date }
    .col-xs-3
      = f.association :user, as: :select, include_blank: false, label: "Agent", collection: User.all, input_html: { class: "col-xs-8" }
    .col-xs-3
      = f.input :order_number, input_html: { class: "col-xs-6" }
    .col-xs-3
      - if @return.complaint
        %p.bold Complaint
        =link_to "#{@return.complaint.pc_number}", edit_complaint_path(@return.complaint)
        = f.input :complaint_id, as: :hidden, :input_html => { :value => @return.complaint.id }
      - else
        = f.input :complaint_id, label: "PC#", hint: "Start the Return from a Complaint Report to populate this field."

  .row
    %hr
    .col-xs-12
      %h2 Customer Information
      = f.simple_fields_for :customer do |customer_form|
        .col-xs-6
          = customer_form.input :name, input_html: { class: "col-xs-8" }
          = customer_form.input :email, input_html: { class: "col-xs-8" }
          = customer_form.input :phone, input_html: { class: "col-xs-8" }
        .col-xs-6
          = customer_form.input :address, input_html: { class: "col-xs-8" }
          = customer_form.input :city, input_html: { class: "col-xs-8" }
          = customer_form.input :state, input_html: { class: "col-xs-4" }
          = customer_form.input :zip, as: :string, input_html: { class: "col-xs-4" }

  .row#product-details
    .col-xs-12
      %h2 Product Details
      %table.table
        %tr
          %th Product
          %th SKU
          %th Lot
          %th Quantity
          %th Reason for Return
          %th Credit Amount
          %th Credit issued date
          %th Condition
          %th Actions
        = f.simple_fields_for :faulty_products do |product_form|
          = render 'faulty_product_fields', product_form: product_form
      = link_to_add_fields "Add Another Faulty Product", f, :faulty_products

  .row#signatures
    = render 'signatures'

  .row
    %hr
    .col-xs-12
      .form-actions
        = f.submit class: "btn btn-primary"


